*

!.gitignore
!lecture*
!Exam*

!lecture_1/Resouces
!lecture_2/Resouces
!lecture_3/Resouces
!lecture_4/Resouces
!lecture_5/Resouces
!lecture_6/Resouces
!lecture_7/Resouces

!*.txt
!*.sql
!*.zip
!*.png
